:root {
	font-size: 16px;
	line-height: 1.7;
	color: $text-color;

	@media all and ( max-width: 991px ) {
		font-size: 14px;
	}

	@media all and ( max-width: 767px ) {
		font-size: 12px;
	}
}

@font-face {
	font-family: 'Open Sans';
	src: url( '../font/OpenSans.eot' );
	src:
		url( '../font/OpenSans.eot?#iefix' ) format( 'embedded-opentype' ),
		url( '../font/OpenSans.woff2' ) format( 'woff2' ),
		url( '../font/OpenSans.woff' ) format( 'woff' ),
		url( '../font/OpenSans.ttf' ) format( 'truetype' ),
		url( '../font/OpenSans.svg#OpenSans' ) format( 'svg' );
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url( '../font/OpenSans-Light.eot' );
	src:
		url( '../font/OpenSans-Light.eot?#iefix' ) format( 'embedded-opentype' ),
		url( '../font/OpenSans-Light.woff2' ) format( 'woff2' ),
		url( '../font/OpenSans-Light.woff' ) format( 'woff' ),
		url( '../font/OpenSans-Light.ttf' ) format( 'truetype' ),
		url( '../font/OpenSans-Light.svg#OpenSans-Light' ) format( 'svg' );
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url( '../font/OpenSans-Bold.eot' );
	src:
		url( '../font/OpenSans-Bold.eot?#iefix' ) format( 'embedded-opentype' ),
		url( '../font/OpenSans-Bold.woff2' ) format( 'woff2' ),
		url( '../font/OpenSans-Bold.woff' ) format( 'woff' ),
		url( '../font/OpenSans-Bold.ttf' ) format( 'truetype' ),
		url( '../font/OpenSans-Bold.svg#OpenSans-Bold' ) format( 'svg' );
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url( '../font/OpenSans-Semibold.eot' );
	src:
		url( '../font/OpenSans-Semibold.eot?#iefix' ) format( 'embedded-opentype' ),
		url( '../font/OpenSans-Semibold.woff2' ) format( 'woff2' ),
		url( '../font/OpenSans-Semibold.woff' ) format( 'woff' ),
		url( '../font/OpenSans-Semibold.ttf' ) format( 'truetype' ),
		url( '../font/OpenSans-Semibold.svg#OpenSans-Semibold' ) format( 'svg' );
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: 'Open Sans';
	color: $text-color;

	&.is-loaded {
		opacity: 1;

		transition: opacity .2s linear;
	}
}

.trs {
	transition: all 0.3s linear;
}

a {
	color: $link-color;

	&:hover {
		color: fadeout( $link-color, 10% );
		text-decoration: underline;
	}
}

img {
	max-width: 100%;
}

p,
li {
	font-size: 16px;
}

.font-regular {
	font-weight: 400;
}

.color {
	&-blue {
		color: $blue;
	}
}

.wrapper {
	&-600 {
		max-width: 600px;
	}

	&-400 {
		max-width: 400px;
	}
}

.container {
	max-width: 1200px;
}

.site-logo {
	text-decoration: none;
	font-family: Catamaran, sans-serif;
	color: $white;
	opacity: 0.8;

	@extend .trs;

	h1 {
		font-size: 1.5rem;
		font-weight: 400;
	}

	&:hover {
		text-decoration: none;
		opacity: 1;
	}
}

.menu {
	display: flex;

	li {
		padding-left: 10px;
		padding-right: 10px;
	}

	a {
		font-family: 'Didact Gothic', sans-serif;
		color: $white;
		text-decoration: none;
		opacity: 0.8;

		&:hover {
			opacity: 1;
		}
	}
}

.site-header {
	position: absolute;
	width: 100%;
	padding: 20px 0;
	z-index: 1;
	transition: all 0.3s ease-in-out;

	@media all and ( max-width: 991px ) {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	&.navbar-fixed-top {
		position: fixed;
		top: 0;
		background-color: rgba( 0, 0, 0, 0.5 );
	}
}

.banner {
	//background-image: url( '../img/slider-12.jpg' );
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	height: auto;
	width: 100%;
	padding-top: 80px;
	padding-bottom: 20px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	@media all and ( max-width: 767px ) {
		min-height: 78vh;
	}

	&_details {
		color: $white;
		max-width: 600px;
		margin: auto;
		text-align: center;
		position: relative;
		padding-left: 10px;
		padding-right: 10px;

		.name {
			text-transform: uppercase;
			font-size: 12px;
			padding-bottom: 10px;
			letter-spacing: 1.3px;
		}

		h2 {
			font-size: 3rem;
			margin-bottom: 30px;
		}

		p {
			font-weight: 300;

			+ .btn {
				margin-top: 30px;
			}
		}
	}
}

.banner_overlay {
	background-color: rgba( 0, 39, 83, 0.5 );
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.component {
	padding-top: 100px;
	padding-bottom: 100px;

	@media all and ( max-width: 991px ) {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	h2 {
		font-size: 3rem;
		font-weight: 300;
		color: $black;
	}

	&.aboutme {
		padding-bottom: 80px;
	}
}

.icon-round {
	width: 100px;
	height: 100px;
	background-color: #eee;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	margin: auto;

	svg {
		path,
		polygon {
			fill: $blue;
		}
	}
}

.aboutme {
	h3 {
		font-size: 1.1rem;
		font-weight: 600;
		margin-bottom: 15px;
		color: $black;

		@media all and ( max-width: 991px ) {
			font-size: 16px;
		}
	}

	&-content {
		padding-bottom: 50px;

		&_col {
			margin-bottom: 20px;
		}
	}

	.icon-round {
		margin-bottom: 30px;
	}
}

.testimonial {
	background-color: $dark;
	padding-left: 10px;
	padding-right: 10px;

	.swiper-container {
		max-width: 700px;
		padding-bottom: 60px;
	}

	.swiper-slide {
		color: $white;

		.image {
			width: 100px;
			height: 100px;
			border-radius: 100%;
			overflow: hidden;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 35px;
			border: 4px solid $white;
		}

		p {
			margin-bottom: 25px;
			font-weight: 300;
			opacity: 0.9;
		}

		.name {
			font-size: 1.2rem;
			line-height: 1;
		}

		small {
			opacity: 0.5;
		}
	}

	.swiper-pagination-bullet-active {
		background-color: #fff;
	}

	.swiper-pagination-bullet {
		width: 30px;
		height: 4px;
		border-radius: 0;
		background: #fff;
	}
}

.services {
	&_contents {
		display: flex;

		&-content {
			h3 {
				text-transform: uppercase;
				font-size: 1.1rem;
				color: $black;
				font-weight: 600;
				margin-bottom: 10px;

				@media all and ( max-width: 991px ) {
					font-size: 16px;
				}

				span {
					@extend .font-regular;
				}
			}
		}
	}

	.icon {
		padding-right: 20px;
	}

	.services-col {
		padding-top: 50px;

		@media all and ( max-width: 991px ) {
			padding-top: 30px;
		}
	}
}

figure {
	margin: 0;
}

.top-content {
	padding-bottom: 40px;

	@media all and ( max-width: 991px ) {
		padding-bottom: 10px;
	}
}

#cookie-bar {
	display: none;
}

.works {
	background-color: #f8f9fb;

	img {
		width: 100%;
	}

	&-detail {
		background-color: $white;
		padding: 30px 10px 40px;
		box-shadow: 0 0 10px #efeaea;

		h3 {
			color: $black;
			font-weight: 400;
			font-size: 1.1rem;

			@media all and ( max-width: 991px ) {
				font-size: 16px;
			}
		}
	}

	.colm {
		padding-top: 40px;

		@media all and ( max-width: 991px ) {
			padding-top: 20px;
		}

		figure {
			overflow: hidden;
		}

		a {
			text-decoration: none;
			transition: all 0.3s linear;

			img {
				transition: all 0.3s linear;
			}

			&:hover {
				img {
					transform: scale( 1.1 );
				}
			}
		}
	}
}

.pricing {
	h2 {
		@media all and ( min-width: 992px ) {
			margin-bottom: 30px;
		}
	}

	p + .btn {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	&-plan {
		padding-bottom: 20px;

		@media all and ( min-width: 992px ) {
			padding-right: 80px;
		}
	}

	.plan {
		border: 1px solid $gray;
		padding: 30px 50px;
		margin-bottom: 20px;

		@media all and ( max-width: 767px ) {
			padding-left: 20px;
			padding-right: 20px;
		}

		h3 {
			font-size: 2rem;
			font-weight: 600;
			color: $black;
			padding-bottom: 10px;
		}

		ul {
			padding-bottom: 30px;
		}

		li {
			border-top: 1px solid $gray;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		.btn {
			max-width: 200px;
			width: 100%;
		}
	}
}

.dollor {
	font-size: 18px;
	font-weight: 400;
}

.font-large {
	font-size: 4rem;
	font-weight: 700;
	padding-bottom: 25px;
	color: $black;
}

footer {
	background-color: #353a40;
	padding-top: 80px;
	color: $white;
	font-family: 'Didact Gothic', sans-serif;

	@media all and ( max-width: 991px ) {
		padding-top: 40px;
	}

	.web {
		a {
			color: $white;
			text-decoration: none;
		}
	}

	a {
		cursor: pointer;
		padding-bottom: 8px;

		&:hover {
			text-decoration: underline;
			opacity: 0.7;
		}
	}

	.mobile,
	.location,
	.web {
		padding-bottom: 8px;
	}
}

.footer {
	&-logo {
		font-family: 'Didact Gothic', sans-serif;
		color: $white;
		font-size: 1.8rem;
		font-weight: 400;
		margin-bottom: 10px;
	}

	&-menu {
		@media all and ( min-width: 991px ) {
			padding-left: 50%;
		}

		a {
			display: block;
			color: $white;
		}

		@media all and ( max-width: 991px ) {
			padding-bottom: 20px;
		}
	}

	&-icon {
		margin-right: 5px;
	}

	&-about {
		p {
			font-weight: 300;
		}

		@media all and ( max-width: 991px ) {
			padding-bottom: 20px;
		}
	}
}

.copyright {
	text-align: center;
	margin-top: 50px;
	padding-top: 40px;
	padding-bottom: 50px;
	border-top: 1px solid rgba( 255, 255, 255, 0.2 );
	color: rgba( 255, 255, 255, 0.3 );
	font-weight: 300;
}

.totop {
	display: none;
	background-color: rgba( 0, 0, 0, .2 );
	border-radius: 50%;
	bottom: 10px;
	height: 46px;
	position: fixed;
	right: 10px;
	transform: rotate( -90deg );
	width: 46px;
	z-index: 10;
	transition: background .3s ease;
	background-image: url( '../img/arrow@2x.png' );
	background-position: center center;
	background-size: 20px;

	&.show {
		display: block;
	}
}

/* menu button */
.menuBtn {
	height: 30px;
	width: 30px;

	@media all and ( min-width: 992px ) {
		display: none;
	}

	position: absolute;
	right: 20px;
	top: 0;
	z-index: 101;

	> span {
		background-color: #fff;
		border-radius: 1px;
		height: 2px;
		width: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -1px 0 0 -15px;
		transition: height 100ms;

		&:after,
		&:before {
			content: '';
			background-color: #fff;
			border-radius: 1px;
			height: 2px;
			width: 100%;
			position: absolute;
			left: 50%;
			margin-left: -15px;
			transition: all 200ms;
		}

		&:after {
			top: -7px;
		}

		&:before {
			bottom: -7px;
		}
	}
}

#menu {
	&.offcanvas {
		span.lines {
			height: 0;

			&:after,
			&:before {
				background-color: $blue;
				top: 1px;
			}

			&:after {
				transform: rotate( 45deg );
			}

			&:before {
				transform: rotate( -45deg );
			}
		}

		.menuBtn {
			display: block;
		}

		.menu {
			opacity: 1;
			transform: translateX( -100% );
			padding-top: 80px;

			li {
				padding-top: 5px;
				padding-bottom: 5px;
			}

			a {
				color: $black;
				font-size: 1.5rem;
			}
		}
	}
}

/* main menu block */
@media all and ( max-width: 991px ) {
	.menu {
		background-color: #fff;
		position: fixed;
		left: 100%;
		top: 0;
		z-index: 100;
		height: 100%;
		width: 100%;
		flex-direction: column;
		text-align: center;
		opacity: 0;
		transition: transform 0.3s  linear;
	}

	#menu {
		&.offcanvas {
			.menuBtn {
				span,
				span:after,
				span:before {
					background-color: $blue;
				}
			}
		}
	}
}
